<div class="signup-container">
  <h2>Signup</h2>
  <form (ngSubmit)="signup()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="name"
        name="name"
        class="form-control"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        class="form-control"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          [(ngModel)]="password"
          name="password"
          class="form-control"
          required
        />
        <div class="input-group-append password-visibility-btn">
          <div type="button" (click)="togglePasswordVisibility()">
            <i
              class="fa"
              [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Signup</button>
    <button type="button" class="btn btn-link mt-3" (click)="navigateToLogin()">
      Already have an account? Login
    </button>
  </form>
</div>
